# Binaries
*.exe
*.o

# Build artifacts
build/

# Dependencies
/vendor/
go.sum

# Configuration files
.env

# Tailwind CSS artifacts
public/css/app.css
public/js/app.js
node_modules/

# Echo framework logs
*.log

# Temporary files
tmp/

# IDE specific files
.idea/
.vscode/

#OS files
._*
.DS_Store