{{ define "accommodation" }}

<section class="text-center py-4 px-2 max-w-5xl mx-auto">
    <!-- Page Title -->
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Accommodation Options</h1>
    <p class="text-med text-gray-800 mb-4 text-left">
        Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort.
        There are many small, family-owned hotels and a growing number of bed and breakfasts. 
    </p>
    <p class="text-med text-gray-800 mb-2 text-left font-bold">The Hotel and Condo are located beachside in town close to most activities.</p>
    <div id="accommodation-cards" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-10 max-w-6xl mx-auto px-4"></div>
</section>

{{ end }}