{{ define "activity" }}

<section class="py-4 px-2 max-w-5xl mx-auto">
    <!-- Page Title -->
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Activity Options</h1>
    <p class="text-left text-med text-gray-800 mb-2">
    <strong>Restaurants:</strong>Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve American-style meals, and two serve Pan-Asian cuisine.<br />
    <strong>Grocery Stores:</strong>Taniti has two supermarkets, two smaller grocery stores, and one convenience store that is open 24 hours a day. 
    <strong></strong>
    </p>
    <div id="activity-cards" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-10 max-w-6xl mx-auto px-4"></div>

</section>

{{ end }}