{{ define "activity" }}

    <div class="flex">
        <!-- Page Title -->
        <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Activity Options</h1>
    
        <div id="activity-cards" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-10 max-w-6xl mx-auto px-4"></div>

    </div>

{{ end }}