{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
			{{ if eq .CurrentPath "/" }}
				<title>Home - Taniti Island</title>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
				<style>
					.glide__slide img {
					height: 350px;
					object-fit: cover;
					}
				</style>
			{{ else if eq .CurrentPath "/booking" }}
				<title>Booking - Taniti Island</title>
			{{ else if eq .CurrentPath "/transportation" }}
				<title>Transport - Taniti Island</title>
			{{ else if eq .CurrentPath "/accommodation" }}
				<title>Accommodation - Taniti Island</title>
			{{ else if eq .CurrentPath "/activity" }}
				<title>Activity - Taniti Island</title>
			{{ else }}
				<title>Taniti Island</title>
			{{ end }}
		<link rel="stylesheet" href="/static/styles.css">
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	</head>
	<body class="bg-orange-50 min-h-screen flex flex-col">
<script>
  document.body.addEventListener("htmx:afterRequest", (e) => {
    console.log("HTMX response:", e.detail.xhr.responseText);
  });

  document.body.addEventListener("htmx:responseError", (e) => {
    console.error("HTMX failed to load:", e.detail.xhr);
  });
</script>		
	{{ template "header" .}}


	<main class="flex-1 p-6">
		{{ if eq .CurrentPath "/" }}
			{{ template "home"}}
		 	<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
			<script src="static/home.js"></script>
		{{ else if eq .CurrentPath "/transportation" }}
			{{ template "transport"}}
		{{ else if eq .CurrentPath "/accommodation" }}
			{{ template "accommodation"}}
		{{ else if eq .CurrentPath "/activity" }}
			{{ template "activity"}}
		{{ else if eq .CurrentPath "/booking" }}
			{{ template "booking"}}
		{{ else if eq .CurrentPath "/faq" }}
			{{ template "faq" .}}
			<script src="static/faq.js"></script>						
		{{ else }}
			<p>Page not found</p>
		{{ end }}
	</main>

	{{ template "footer"}}

	<script src="../static/app.js"></script>
	</body>
</html>
{{ end }}