{{ define "faq" }}
<section class="text-center py-4 px-2 max-w-5xl mx-auto">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Frequently Asked Questions</h1>

  {{range $i, $q := .Questions}}
  <div class="border-b py-3">
    <div class="flex items-start justify-between">
      <span>{{$q.Question}}</span>
      <button
        class="text-blue-600 font-bold text-xl toggle-btn"
        aria-label="Toggle Answer"
        data-answer-id="answer{{$i}}"
        data-url="/static/answers/a{{$i}}.html"
        data-loaded="false"
        onclick="toggleAnswer(this)">
        +
      </button>
    </div>

    <div id="answer{{$i}}" class="ml-4 text-sm text-gray-700 mt-2 hidden"></div>
  </div>
  {{end}}
</section>
<div class="text-center mt-24 py-4 px-2 max-w-5xl mx-auto">
  <p>Still not finding the information your looking for?</p>
  <p class="mb-8">Send  us a message!</p>
    <a href="/contact" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 text-sm">
      Contact Us!
    </a>
</div>
{{ end }}