{{ define "transport" }}
<section class="text-center py-4 px-2 max-w-5xl mx-auto">
    <!-- Page Title -->
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Transportation Options</h1>
    <p class="text-left text-med">
        Almost all visitors arrive to Taniti by a small airport that can accommodate small jets and propeller planes.
        <br />Though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week.
    </p>    
    
    <div id="transport-cards" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-10 max-w-6xl mx-auto px-4"></div>

    <p class="text-left text-med">
        Taxis are available in Taniti City, and rental cars can be rented from a local rental agency near the airport.
    </p>
</section>
{{ end }}
