{{ define "transport" }}
<section class="text-center py-4 px-2 max-w-5xl mx-auto">
    <!-- Page Title -->
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Transportation Options</h1>
    <p class="text-left text-med">
        Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week.
        <br />Taniti is served by a small airport that can accommodate small jets and propeller planes.
    </p>    
    <p class="text-left text-med">
        Public buses serve Taniti City and run from 5 a.m. to 11 p.m. every day. 
        <br />Private buses serve the rest of the island. 
        <br />Taxis are available in Taniti City, and rental cars can be rented from a local rental agency near the airport. 
        <br />Bikes and helmets are available to rent from several vendors (helmets are required by law).</p>
    <div id="transport-cards" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-10 max-w-6xl mx-auto px-4"></div>
</section>
<div id="card-container" hx-get="/api/components/transport-card" hx-trigger="load"></div>
{{ end }}
